@media(max-width: 768px) {
    #wrap {
        color: black;
        background-color: #5898D2;
        background-size: cover;
        background-size: contain;
        background-size: 100% 100%;
    }
}

@media(min-width:768px) {
    #wrap {
        color: black;
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../images/wall-e.jpg) no-repeat;
        background-size: cover;
        background-size: contain;
        background-size: 100% 100%;
    }
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    color: seagreen;
    height: 100%;
}

.header {
    padding: 30px;
    text-align: center;
    background: rgb(233, 87, 233);
    color: black;
    font-size: 15px;
}

#wrap {
    padding: 10px;
    min-height: -webkit-calc(100% - 100px);
    min-height: -moz-calc(100% - 100px);
    min-height: calc(100% - 100px);
}

#wrap>h2 {
    text-align: center;
    font-size: 50px;
}

#wrap>h4 {
    text-align: center;
    font-size: 30px;
}